{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block content %}
<p id="test"></p>


<div class="input-group mb-3">

  <input type="text" class="form-control" placeholder="Message" aria-label="Message" id="msg">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>

</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}